{% extends 'card.html' %}
{% load static %}
{% block cardcontent %}
<h5>Nouveau porc ajouté dans la base de données. Tu peux modifier ces informations en cliquant sur le boutton 'Modifier Ce Porc' sur la page d'accueil.</h5>

<!-- <h5>New pig has been added to the database. Update its data by clicking the 'update old pig' button in the homepage.</h5> -->
<div class="row justify-content-center py-2">
    <form>
            <button class="btn btn-success btn-lg" type="submit" formaction="/">Home</button>
    </form>
        
</div>

{% endblock cardcontent %}